
-- UCF

NET "CLK_IN_N" LOC = "C9"; ## G7 on J1
NET "CLK_IN_P" LOC = "D9"; ## G6 on J1
NET "Din_N(0)" LOC = "C11"; ## D9 on J1
NET "Din_P(0)" LOC = "D11"; ## D8 on J1
NET "Din_N(1)" LOC = "A15"; ## H8 on J1
NET "Din_P(1)" LOC = "C15"; ## H7 on J1
NET "Din_N(2)" LOC = "A13"; ## G10 on J1
NET "Din_P(2)" LOC = "C13"; ## G9 on J1
NET "Din_N(3)" LOC = "A16"; ## H11 on J1
NET "Din_P(3)" LOC = "B16"; ## H10 on J1
NET "Din_N(4)" LOC = "A14"; ## D12 on J1
NET "Din_P(4)" LOC = "B14"; ## D11 on J1
NET "Din_N(5)" LOC = "C12"; ## C11 on J1
NET "Din_P(5)" LOC = "D12"; ## C10 on J1
NET "Din_N(6)" LOC = "E8"; ## H14 on J1
NET "Din_P(6)" LOC = "E7"; ## H13 on J1
NET "Din_N(7)" LOC = "E11"; ## G13 on J1
NET "Din_P(7)" LOC = "F11"; ## G12 on J1
NET "Din_N(8)" LOC = "F10"; ## D15 on J1
NET "Din_P(8)" LOC = "G11"; ## D14 on J1
NET "Din_N(9)" LOC = "C8"; ## C15 on J1
NET "Din_P(9)" LOC = "D8"; ## C14 on J1
NET "Din_N(10)" LOC = "A12"; ## H17 on J1
NET "Din_P(10)" LOC = "B12"; ## H16 on J1
NET "Din_N(11)" LOC = "C6"; ## G16 on J1
NET "Din_P(11)" LOC = "D6"; ## G15 on J1